@page
@model Lab.Core.IdentityServer.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/duende-logo.svg" class="logo">
        IdentityServer
        <small class="text-muted">(version @Model.Version)</small>
    </h1>
    <partial name="_StatusMessage" for="StatusMessage" />
    <ul>
        <li>
            Metadata and links to all the endpoints:
            <a href="~/.well-known/openid-configuration">discovery document</a>
        </li>
        <li>
            Claims for your current session: <a href="~/diagnostics">here</a>.
        </li>
        <li>
            Manage your stored grants: <a href="~/grants">here</a>.
        </li>
        <li>
            View your pending CIBA login requests: <a href="~/ciba/all">here</a>.
        </li>
        <li>
            Register new account:  <a asp-page="/Manage/Register/Index">here</a>.
        </li>
        <li>
            Users list:  <a asp-page="/Manage/UserList/Index">here</a>.
        </li>
    </ul>
</div>
